# binaries
bin/*
build/*

# sdl files (windows only)
include/SDL2-2.0.4
lib/SDL2-2.0.4

# todo file
TODO.org

# gnu global tags
GPATH
GRTAGS
GTAGS

# vscode files
.vscode

# emacs temp files
*~
\#*\#
.\#*